@{
    ViewBag.Title = "Админка";
}
<h3>Редактор базы данных</h3>

    <ul>
        <li>@Html.ActionLink("Серии забегов", "Index", "RaceSeria")</li>
    </ul>
<script src="~/Scripts/main.js"></script>
