<div class="race-name">{{{Name}}}</div>
{{{m}}}<br>
<a href="{{{Url}}}" target="_blank">{{{Url}}}</a><br>
<a href="{{{fb}}}" target="_blank">{{{fb}}}</a><br>
<a href="mailto:{{{Email}}}">email</a><br>
{{#each phones}}{{{.}}}&nbsp;{{/each}}<br>
Контактное лицо: {{{person}}}<br>
{{#each sites}}<a href="{{{.}}}" target="_blank">{{{.}}}</a>&nbsp;{{/each}}<br>
<div class="place">{{{Place}}}</div>
<div class="address">{{{Address}}}</div>
<div class="date">{{{Date}}}</div>
<a>Дистанции: {{{Dists}}}</a>