<div class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Поиск...">
        <span class="input-group-btn">
            <button name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
    </div>
    <span class="input-group-btn">
        <a distance="5" id="Button6" class="btn btn-default btn-xs "><i class="text-sm"><5</i></a>
        <a distance="10" id="Button1" class="btn btn-xs "><i class="text-sm">10</i></a>
        <a distance="21" id="Button2" class="btn btn-xs btn-flat"><i class="text-sm">21</i></a>
        <a distance="42" id="Button5" class="btn btn-xs btn-flat"><i class="text-sm">42</i></a>
        <a distance="100" id="Button3" class="btn btn-xs btn-flat"><i class="text-sm">100</i></a>
        <a distance="100+" id="Button4" class="btn btn-xs btn-flat"><i class="text-sm">100+</i></a>

    </span>
</div>
